/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    line-height: 1.5;
    color: #333;
    /* background-color: #a1c3ff; */
}


h1, h2{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
/*
img{
    margin-top:1em;
    max-width:100%;
} */

#navbar{
    /* background-color:#CCD5AE; */
    /* background-color:#E0E5B6; */
    /* background-color:#FFFBDE; */
    background-color:khaki;
    color:white;
    height: 50px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

#navbar .logo{
    color: #333;
    font-size: x-large;
    /* font-weight: bold; */
}

#navbar a{
    color:#333;
    text-decoration: none;
    font-size:18px;
    /* font-weight: bold; */
}

#navbar li:hover{
    background-color:black;
}

#navbar a:hover{
    color:white;
}

#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    margin-left: 20px;
}

.header{
    /* background-color: #0a51cc; */
    color:#333;
    min-height: 650px;
    display: flex;
    align-items:center;
    flex-direction:column;
}

.header .container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    /* background-color: #4682A9; */
    padding-top:3.5em;
    padding-bottom:1em;
}

.header button {
    border-radius: 15px;
    /* border: none; */
    padding:0.75em;
}

#ViewProjectBtn {
    background-color: #4682A9;
    color: white;
    border:none;
    padding:0.8em;
}

#ViewResumeBtn{
    border:solid black 2px;
    color: black;
}
 
.heroButtonsDiv{
/* background-color: #4682A9; */
}

.header .box p{
    text-align: center;
}

.header .container p{
    width:45%;
    font-size:1.2em;
    text-align:center;
}

.header h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    text-align:center;
    margin-bottom: 1.5rem;
}

.header img{
    max-width:400px;
}


.aboutMe{
    /* background-color:aqua; */
    padding-top:5em;
}

.aboutMe h1{
    text-align: center;
    font-size:2.5rem;
    margin:0.5rem;
    color: #333;
}

.aboutMe h2{
    text-align: left;
    font-size:2rem;
    margin:0;
}


.aboutMe p{
    text-align:center;
    color:#333;
}

.aboutMe .container .box p{
    text-align: left;
    color:#333;
}


.aboutMe .container{
    min-width:80%;
    width:1rem;
    margin-top:1.2rem;
    display: flex;
    justify-content: space-between;
}

.aboutMe .container .box{
    background-color: rgba(145, 200, 228, 0.2);
    color:#333;
    margin: 20px 10px;
    padding:10px 20px;
    border-radius: 10px;
}


.aboutMe .container .aboutmedesc{
    height: auto;
}

.aboutMe .box h2{
    margin-bottom:50px;
}

.aboutMe .box h3{
    width:100px;
    font-size: 1rem;
    color: #fff;
    padding:10px;
    border-radius: 10px;
    background-color: #333;
    text-align: center;
}


.aboutMe .skills{
    padding-left:0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
}


.skills-group {
    margin-bottom: 2rem;
}

.skills-group h4 {
    /* font-size: 1.2rem; */
    margin-bottom: 0.5rem;
    color: #333;
}

.skills {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skillname {
    background: white;
    padding: 10px 16px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    transition: transform 0.2s ease;
}

.primaryskill{
   background: #4f86c6;
    padding: 10px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: white;
    /* font-weight: 500; */
    transition: transform 0.2s ease; 
}

.secondaryskill{
   background: white;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
    color: #333;
    font-weight: 500;
    transition: transform 0.2s ease; 
}


.skillname:hover {
    transform: scale(1.08);
}

.aboutMe .skillname{
    font-size: 0.8rem;
    width:5rem;
    padding:0.3rem;
    margin:0.5rem;
    background-color:white;
    color: #333;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
}

.aboutMe .container .box:nth-of-type(1){
    max-width:35%;
}


#projects {
    background-color: #4682A9;
}

#projects .categorySection{
    display: flex;
  background-color: aqua;
} 

#projects .container{
    /* background-color:antiquewhite; */
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    padding:0;
  /* margin-top:100px; */
}

#projects .container .box {
  /* flex:1; */
  color: white;
  background-color:#4682A9;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  /* width: 25%;    */
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  border: none;
  text-decoration: none;

}

#projects .container .box:hover {
    background-color: #FFFBDE;
    color:black;
}

 /* .category a{
         text-decoration: none;
    } */

#categorycontentcontainer .categorycontent{
    /* display: none; */
}



.categoryBoxes h1{
    text-align: center;
    font-size:2.5rem;
    margin:0;
    /* color: #fff; */
}

/* .categoryBoxes h2{
    color:#fff;
    font-size:1rem;
    margin:0;
} */



#projects p{
    text-align: center;
    color:#fff;
}

.categorycontent {
  /* display:none; */
  color: white;
  display: none;
  text-align: center;

}

.categorycontent img {
    /* border-radius: 20px; */
    background-color: #4682A9;
    width: 100%;
    height: 100%;       /* Fill the row */
    object-fit:contain;
    /* margin-bottom: 1rem; */
}



@media(max-width:768px){
    .header .container{
        width:90%;
        flex-direction: column;
        /* padding:20px; */
        text-align:center;
    }

    .header{
        width:100%;
        /* background-color: #0a51cc; */
        color:#333;
        min-height: 650px;
    }

    .header h1{
        /* background-color: aquamarine; */
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.2;
        text-align:center;
    }

    .header .container p{
        /* background-color: aqua; */
        width:100%;
        font-size:1.1rem;
        text-align:center;

    }

    .header img{
        max-width:150px;
    }

    .categoryBoxes .container{
        /* display:block;
        text-align:center; */
        flex-direction: column;
        padding:20px;
        text-align:center;
        /* background-color: #333; */
    }

    .categoryBoxes .box{
        flex:1;
        width:75%;
        background-color: #fff;
        border-radius: 10px;
        margin: 20px 10px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.6);
        /* justify-content:flex-end; */
        align-items: center;
        text-align: center;
        padding:20px 10px;
    }

    .categoryBoxes .category{
        align-self: center;
        text-align: center;
        /* color:blue; */
    }


    .aboutMe .container{
        width:90%;
        flex-direction: column;
        padding:20px;
        text-align:center;
        color:#fff;
    }

    .aboutMe .container .box p{
        color:#fff;
    }

    .aboutMe .container .box h3{
        color:#333;
        background-color: #fff;
    }
    .aboutMe .container .aboutmedesc{
        height: auto;
    }

    .aboutMe .container .box:nth-of-type(1){
        max-width:100%;
        color:#fff;
        background-color: #333;
    }

    .skills {
        justify-content: center;
        gap: 12px;
    }
}

@media(max-width:992px){

    .header h1{
        /* background-color: aquamarine; */
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.2;
        text-align:center;
    }

    .header .container{
        width:100%;
        flex-direction: column;
        /* padding:20px; */
        text-align:center;
}


    .header .container p{
        /* background-color: aqua; */
        width:100%;
        font-size:1.1rem;
        text-align:center;

    }
    
    .aboutMe .container{
        min-width:90%;
        width:1rem;
        margin-top:1.2rem;
        display: flex;
    }

    .aboutMe .container .box{
    /* flex:1; */
    background-color:aliceblue;
    color:#333;
    margin: 20px 10px;
    padding:10px 20px;
    border-radius: 10px;
}


}