#GameWindow{
    margin-top: 5rem;
}

#contentContainer{
    font-family: Arial, sans-serif; 
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content:center;
}

#grade1{
    margin: 0 5rem 0 5rem;
    padding:3rem;
    border:2px solid black; 
    width:50%;
}

#grade2{
    margin-right: 5rem;
    padding:3rem;
    border:2px solid black; 
    width: 50%;
}